 body {
            font-family: Arial, sans-serif;
            background-color: #d35400;
            margin: 0;
            padding: 0;
            color: #fff;
        }

        header {
            text-align: center;
            padding: 20px;
            font-size: 1.8em;
            font-weight: bold;
        }
        header h1{
            box-shadow: 5px 10px 20px rgba(54, 21, 239, 0.5);
            display: inline;
            padding:7px 30px;


        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .form-container {
            background-color: #d35400;
            color: rgb(245, 243, 239);
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(22, 21, 21, 0.5);
            width: 50%;
        }
                        /* Section image */
                .imag {
                    display: flex;
                    align-items: center;
                    
                }

                .imag #file-ip-1 {

                    display: flex;
                    width: 100%;
                    border: none;
                    width: 20%;
                    display: none;
                }
                .imag #file-name{
                    display: none;
                }
                .preview img {
                    margin: 15px 0px 15px 0px;
                    max-height: 290px;
                    max-width: 290px;
                    margin-left: 20px;

                }
          /* .preview img{
             max-height:120px ;
             max-width: 120px;
             margin-left: 50px;
          } */

        .form-container label {
            font-weight: bold;
            display: block;
            margin-top: 10px;

        }

        .form-container input,
        .form-container textarea,
        .form-container button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
            background: #cdd0d2ef;
            box-shadow: 0px 0px 20px rgba(22, 21, 21, 0.5);


        }

        .form-container button {
            background-color: #2980b9;
            color: white;
            border: none;
            cursor: pointer;
        }

        .form-container button:hover {
            background-color: #3498db;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .buttons button {
            width: 48%;
        }

        .image-preview {
            text-align: center;
            margin-bottom: 20px;
        }

        .image-preview img {
            max-width: 100%;
            border-radius: 10px;
        }
        .catigori{
            width: 100%;
            height: 42px;
            background: #cdd0d2ef;
            font-size: 15px;
            border: none;
            border-radius: 5px;

        }
        